@use '../mediaVariables';

[data-animated-characters] {
  .word {
    opacity: 0.25;
    transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 500ms;

    &[data-showed] {
      opacity: 1;
    }
  }
}

*:has(> [data-animated-horizontal-line]) {
  position: relative;
}

[data-animated-horizontal-line] {
  position: absolute;
  bottom: -6px;
  left: 3px;
  width: 0;
  height: 4px;
  background-color: #383838;
  transition: width linear 120ms;

  &[data-showed] {
    width: calc(
      100% - 14px
    ); // корректируем длину линии, потому что иначе она как бы длиннее, чем текст в этом месте
  }

  @media (width < mediaVariables.$smallWidth) {
    left: 2px;
    height: 3px;
    
    &[data-showed] {
      width: calc(
        100% - 11px
      );
    }
  }
}
