/* static fonts */
@font-face {
  font-display: swap;
  font-family: Hoves;
  font-style: normal;
  font-weight: 400;
  src: url('./TTHoves-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Hoves;
  font-style: normal;
  font-weight: 500;
  src: url('./TTHoves-Medium.woff2') format('woff2');
}