$hoverColor: #006aff;

#copy-email {
  position: relative;
  transition: all 150ms;

  svg[data-icon='copy'],
  svg[data-icon='success'] {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    opacity: 0;
    transform: scale(0.5);
    transition:
      color 150ms,
      opacity 150ms,
      transform 150ms;
    vertical-align: middle;
  }

  &[data-state='copy'] {
    &:hover {
      color: $hoverColor;
      cursor: pointer;
    }

    svg[data-icon='copy'] {
      position: relative;
      opacity: 1;
      transform: scale(1);
    }
  }

  &[data-state='success'] {
    color: $hoverColor;

    svg[data-icon='success'] {
      position: relative;
      opacity: 1;
      transform: scale(1);
    }
  }
}
