@use '../mediaVariables';

$size: 60px;
$sizeSM: 40px;

span:has(> canvas[data-rive-name]) {
  $width: var(--rive-width, $size);
  $widthSM: var(--rive-width-sm, $sizeSM);
  $hideDelay: var(--rive-hide-delay, 150ms);

  height: $size;
  display: inline-block;
  transition:
    width 150ms,
    margin-left 150ms;
  vertical-align: bottom;

  @media (width < mediaVariables.$smallWidth) {
    height: $sizeSM;
  }

  canvas {
    width: $width;
    height: $size;
    display: inline-block;

    @media (width < mediaVariables.$smallWidth) {
      width: $widthSM;
      height: $sizeSM;
    }
  }

  &:has(> canvas[data-rive-name][data-showed]) {
    width: $width;
    margin-left: 0.25em; // виртуальный пробел перед ривом

    @media (width < mediaVariables.$smallWidth) {
      width: $widthSM;
    }
  }

  &:not(:has(> canvas[data-rive-name][data-showed])) {
    width: 0;

    //animation-delay: $hideDelay;
    //animation-duration: 0s;
    //animation-fill-mode: forwards;
    //animation-name: displayNone;
    transition-delay: $hideDelay;
  }
}

//@keyframes displayNone {
//  to {
//    display: none;
//  }
//}
