@use '../mediaVariables';

$size: 60px;
$sizeSM: 40px;

span:has(> canvas[data-rive]:not([data-static])) {
  $width: var(--rive-width, $size);
  $widthSM: var(--rive-width-sm, $sizeSM);

  height: $size;
  display: inline-block;
  transition:
    width 150ms,
    margin-left 150ms,
    margin-right 150ms;
  vertical-align: bottom;

  @media (width < mediaVariables.$smallWidth) {
    height: $sizeSM;
  }

  canvas {
    width: $width;
    height: $size;
    display: inline-block;

    @media (width < mediaVariables.$smallWidth) {
      width: $widthSM;
      height: $sizeSM;
    }
  }

  &:has(> canvas[data-showed]) {
    width: $width;
    margin-right: 2px; // дима попросил добавить расстояние до запятых дальше
    margin-left: 0.25em; // виртуальный пробел перед ривом

    @media (width < mediaVariables.$smallWidth) {
      width: $widthSM;
    }
  }

  &:not(:has(> canvas[data-showed])) {
    width: 0;
  }
}
