@use '../mediaVariables';

span:has(> canvas[data-rive][data-static]) {
  $height: var(--rive-height);
  $heightSM: var(--rive-height-sm);
  $width: var(--rive-width);
  $widthSM: var(--rive-width-sm);

  width: $width;
  height: $height;
  display: inline-block;
  vertical-align: bottom;

  @media (width < mediaVariables.$smallWidth) {
    width: $widthSM;
    height: $heightSM;
  }

  canvas {
    width: $width;
    height: $height;
    display: inline-block;

    @media (width < mediaVariables.$smallWidth) {
      width: $widthSM;
      height: $heightSM;
    }
  }
}
