$hoverColor: #006aff;

svg#copy-mail-icon {
  cursor: pointer;

  &:hover {
    color: $hoverColor;
  }
}

#email {
  cursor: pointer;
  transition: all 150ms;

  &:hover {
    color: $hoverColor;
  }
}

*:has(> #email:hover) {
  svg#copy-mail-icon {
    color: $hoverColor;
  }
}

*:has(> #copy-mail-icon:hover) {
  #email {
    color: $hoverColor;
  }
}

*:has(> #success-copied-icon[data-showed]) {
  #email {
    color: $hoverColor;
    cursor: initial;
  }
}

svg#success-copied-icon {
  &[data-showed] {
    color: $hoverColor;
  }
}

svg#copy-mail-icon,
svg#success-copied-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 0;
  transform: scale(0.5);
  transition:
    color 150ms,
    opacity 150ms,
    transform 150ms;
  vertical-align: middle;
}

svg#copy-mail-icon[data-showed],
svg#success-copied-icon[data-showed] {
  position: relative;
  opacity: 1;
  transform: scale(1);
}
