[data-flipping-cards] {
  $size: 72px;
  $nextZIndex: 1;
  $currentZIndex: $nextZIndex + 1;

  position: relative;
  width: $size;
  height: $size;
  display: inline-block;
  cursor: pointer;
  transform: translateY(1.55rem);

  .card {
    position: absolute;
    width: $size;
    height: $size;
    display: inline-block;
    overflow: clip;
    border-radius: 16px;
    transition: transform 300ms;

    &[data-current] {
      z-index: $currentZIndex;
      transform: translateY(5%) rotate(5deg);
    }

    &:not([data-current], [data-next]) {
      transform: translateY(-5%);
    }

    &[data-next] {
      z-index: $nextZIndex;
      transform: rotate(-5deg);

      &[data-elevated] {
        transform: translateY(-50%);
      }
    }
  }
}
