@use './mediaVariables';

@mixin paragraphMargins {
  margin-top: 0;
  margin-bottom: 64px;
}

body {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  row-gap: 170px;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 50px;
  color: #383838;
  font-family: Inter, serif;

  @media (width > mediaVariables.$mediumWidth) {
    .combined-paragraphs {
      @include paragraphMargins;

      p {
        display: inline;
      }
    }
  }

  @media (width < mediaVariables.$mediumWidth) {
    row-gap: 100px;
    padding: 100px 20px 50px;
  }

  @media (width < mediaVariables.$smallWidth) {
    row-gap: 50px;
    padding: 50px 20px;
  }

  > header,
  > main,
  > footer {
    width: 100%;
    max-width: 820px;
  }

  > header {
    grid-area: header;

    #logo {
      width: 244px;
      height: 28px;
      transition: all 150ms;

      @media (width < mediaVariables.$smallWidth) {
        width: 122px;
        height: 14px;
      }
    }
  }

  > main {
    grid-area: main;

    p {
      @include paragraphMargins;

      font-size: 40px;
      font-weight: 500;
      line-height: 64px;

      @media (width < 600px) {
        font-size: 26px;
        line-height: 1.5em;
      }
    }
  }

  > footer {
    grid-area: footer;

    p {
      margin-top: 0;
      margin-bottom: 16px;
      color: #aaa;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
