@use 'sass:math';

.avatar {
  $size: 64px;

  width: $size;
  display: inline-block;

  img {
    width: $size;
    height: $size;
    display: inline-block;
    border: 4px solid white;
    border-radius: 100%;
  }

  &:not(:first-of-type) {
    margin-left: math.div(-$size, 3);
  }
}
