@use '../mediaVariables';

$avatarSize: 60px;
$avatarSizeSM: 40px;
$avatarBorderWidth: 4px;

[data-animated-avatars-container] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 150ms;
  vertical-align: middle;

  &:not([data-showed]) {
    margin-left: -0.5rem; // когда элемент скрыт, без этого сдвига ощущение, что между текстом два пробела стоит
  }

  canvas[data-rive-name='people-icon'] {
    margin-left: #{-$avatarBorderWidth * 2};
  }

  .avatar {
    width: $avatarSize;
    height: $avatarSize;
    box-sizing: content-box;
    overflow: clip;
    border: $avatarBorderWidth solid white;
    border-radius: 100%;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    line-height: $avatarSize;
    transform-origin: 0 50%;
    transition: width 150ms;

    &:not([data-showed]) {
      width: 0;
      height: 0;
      animation-name: hideAvatar;
    }

    &[data-showed] {
      display: inline-flex;
      animation-name: showAvatar;
    }

    @media (width < mediaVariables.$smallWidth) {
      width: $avatarSizeSM;
      height: $avatarSizeSM;
      line-height: $avatarSizeSM;
    }

    &:first-of-type {
      z-index: 1;
    }

    &:not(:first-of-type) {
      margin-left: #{-$avatarBorderWidth * 2};
    }

    img {
      width: $avatarSize;
      height: $avatarSize;
      display: inline-block;

      @media (width < mediaVariables.$smallWidth) {
        width: $avatarSizeSM;
        height: $avatarSizeSM;
      }
    }

    @keyframes showAvatar {
      from {
        scale: 0;
      }

      to {
        scale: 1;
      }
    }

    @keyframes hideAvatar {
      from {
        scale: 1;
      }

      to {
        scale: 0;
      }
    }
  }
}
